body{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    order: -1;
}

.logo img{
    width: 200px;
    height: auto;
}

.titulo{
    padding-right: 25%;
    padding-left: 25%;
}

.bandera{
    width: 125px;
    height: 80px;
}

.principal{
    padding: 25px;
}

tr{
    text-align: center;
    font-size: 1.5rem;
}

.footer{
    font: bold;
}

.seccion{
    padding: 25px;
}

h2{
    padding: 25px;
}